.seismograph-page h2 {
    text-align: center;
    color: antiquewhite;
}

.seismograph-page .container {
    color: white;
    display: flex;
}


.seismograph-page .container .subdomains div {
    margin: 10px;
    border: 1px solid gold;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
}
