.seismograph-page {
    --title-color: white;
    --title-legend-subdomain-color: rgb(255, 255, 255);
    --boder-legend-subdomain-color: grey;
}

.seismograph-page h2 {
    text-align: center;
    color: var(--title-color);
}

.seismograph-page .container {
    color: var(--title-legend-subdomain-color);
    display: flex;
    padding: 20px;
}

.seismograph-page .container .subdomains {
    margin-right: 20px;
}

.seismograph-page .container .subdomains .subdomain-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.seismograph-page .container .subdomains .subdomain-wrapper  div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border: 1px solid var(--boder-legend-subdomain-color);
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.seismograph-page .chart-container {
    position: relative;
    width: 80vw;
}
.seismograph-page .over {
    background-color: #fc0;
}