.spider-page {
    --title-color: white;
    --title-text-container-color: rgb(206, 205, 205);
    --text-input-color: black;
    --border-text-input-color: rgb(46, 46, 46);

    --blue-border-graph: #54A2E5;
    --blue-inside-graph: #54a1e557;;
    --red-border-graph: #ED6E85;
    --red-inside-graph: #542E35;
}

.spider-page h2 {
    text-align: center;
    color: var(--title-color);
}

.spider-page .container {
    color: var(--title-text-container-color);
    display: flex;
    padding: 20px;
}

.spider-page .container .date-form .legend-blue {
    border: 3px solid var(--blue-border-graph);
    background-color: var(--blue-inside-graph);
    padding: 10px;
    margin-bottom: 20px;
}

.spider-page .container .date-form .legend-red {
    border: 3px solid var(--red-border-graph);
    background-color: var(--red-inside-graph);
    padding: 10px;
    margin-top: 20px;
}


.spider-page .container .date-form .legend-blue .inputDate {
    background-color: var(--blue-border-graph);
    color: var(--text-input-color);
    border-color: var(--border-text-input-color);
}

.spider-page .container .date-form .legend-red .inputDate {
    background-color: var(--red-border-graph);
    color: var(--text-input-color);
    border-color: var(--border-text-input-color);
}

.spider-page .container .date-form {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.spider-page .container .date-form label + label {
    margin-top: 10px;
}

.spider-page .date-form input {
    margin-left: 15px;
}

.spider-page .chart-container {
    margin-top: 30px;
    position: relative;
    flex: 1;
}
