.spider-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.spider-page h2 {
    color: antiquewhite
}

.spider-page .date-form {
    display: flex;
    flex-direction: column;
}

.spider-page .date-form label + label {
    margin-top: 10px;
}

.spider-page .date-form input {
    margin-left: 15px;
}

.spider-page canvas {
    margin-top: 20px;
}
