.spider-page {
    --title-color: white;
    --title-text-container-color: white;
    --background-text-input-color: grey;
    --text-input-color: black;
}

.spider-page h2 {
    text-align: center;
    color: var(--title-color);
}

.spider-page .container {
    color: var(--title-text-container-color);
    display: flex;
    padding: 20px;
}
.spider-page .inputDate {
    background-color: var(--background-text-input-color);
    color: var(--text-input-color);
}
.spider-page .container .date-form {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.spider-page .container .date-form label + label {
    margin-top: 10px;
}

.spider-page .date-form input {
    margin-left: 15px;
}

.spider-page .chart-container {
    margin-top: 30px;
    position: relative;
    flex: 1;
}
